.wrapper {
    background-color: white;
    border-color: #5C3D2E;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    width: 80%;
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    //box-shadow: 0 0 10px 5px #85603F;
    margin: 30px;
    padding: 10px;
}

.wrapper:hover {
    transform: scale(1.01);
    animation: ease-in-out;
    animation-duration: 250ms;
}

.topHeader {
    display: flex;
    flex-direction: row;
}

.image {
    align-self: center;
    width: 70%;
}
