.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 10%;
    max-width: 100px;
    height: 100%;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 3px 1px #ddd;
    background-color: white;
}

.links {
    margin: 20px;
    font-size: 40px;
    color: #34435e;
}

.links:hover {
    transform: scale(1.5);
    color: #B88E8D;
}