
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 10%;
    height: 100%;
}

.link {
    background-color: #E0C097;
    border-radius: 30px;
    width: 60px;
    box-shadow: grey;
    padding: 20px;
    margin: 20px;
}

.link:hover{
    background-color: #85603F;
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px #85603F;
}